<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<title>ReactApp</title>
</head>
<body>
	<div>
		<div>
			<h1>ReactApp</h1>
		</div>
		
	<div class="pagination-div">
		<span><a href="/results">REST Results</a></span>
		<span><a href="/actuator">APP Actuator</a></span>
	</div>
</body>
</html>





